TEAM_ID=

PRODUCT_NAME=ArchShowcase
PRODUCT_BUNDLE_IDENTIFIER=com.example.archshowcase.ArchShowcase$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

APP_SERVER_URL=https://api.example.com
APP_KEY=YOUR_APP_KEY
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_SERVER_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_REVERSED_CLIENT_ID=YOUR_GOOGLE_REVERSED_CLIENT_ID
