<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".verification.VerificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.archshowcase.VERIFY_INIT" />
                <action android:name="com.example.archshowcase.VERIFY_DISPATCH" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".verification.RecordReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.archshowcase.VF_RECORD_START" />
                <action android:name="com.example.archshowcase.VF_RECORD_END" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
